@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #9cb380;
    --background: #d8d8d8;
    --accent: #8e6c88;
    --input: #969696;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* for mozilla firefox */
}
